@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto+Condensed:400,700|Roboto+Slab|PT+Serif);
.has-mono-font {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-weight: 300;
}
.has-dflt-font {
  font-family: 'Open Sans', 'Lucida Sans', sans-serif;
}
.has-dflt-font.serif {
  font-family: 'Roboto Slab', 'Palatino', serif;
}
.has-alt-font {
  font-family: 'Open Sans Condensed', 'Lucida Sans', sans-serif;
}
.has-subst-font {
  font-family: 'Roboto Condensed', 'Lucida Sans', sans-serif;
}
.has-subst-font.serif {
  font-family: 'PT Serif', 'Palatino', serif;
}
.initially-hidden,
div.column .initially-hidden {
  display: none;
}
.margin-centered,
div.column .margin-centered {
  margin-right: auto;
  margin-left: auto;
}
.spaces-top-full,
div.column .spaces-top-full {
  margin-top: 4rem;
}
.spaces-top-nrml,
div.column .spaces-top-nrml {
  margin-top: 2rem;
}
.spaces-top-half,
div.column .spaces-top-half {
  margin-top: 1rem;
}
.spaces-top-qrtr,
div.column .spaces-top-qrtr {
  margin-top: 0.5rem;
}
.spaces-top-none,
div.column .spaces-top-none {
  margin-top: 0rem !important;
}
.spaces-rgt-full,
div.column .spaces-rgt-full {
  margin-right: 4rem;
}
.spaces-rgt-nrml,
div.column .spaces-rgt-nrml {
  margin-right: 2rem;
}
.spaces-rgt-half,
div.column .spaces-rgt-half {
  margin-right: 1rem;
}
.spaces-rgt-qrtr,
div.column .spaces-rgt-qrtr {
  margin-right: 0.5rem;
}
.spaces-rgt-none,
div.column .spaces-rgt-none {
  margin-right: 0rem !important;
}
.spaces-btm-full,
div.column .spaces-btm-full {
  margin-bottom: 4rem;
}
.spaces-btm-nrml,
div.column .spaces-btm-nrml {
  margin-bottom: 2rem;
}
.spaces-btm-half,
div.column .spaces-btm-half {
  margin-bottom: 1rem;
}
.spaces-btm-qrtr,
div.column .spaces-btm-qrtr {
  margin-bottom: 0.5rem;
}
.spaces-btm-none,
div.column .spaces-btm-none {
  margin-bottom: 0rem !important;
}
.spaces-lft-full,
div.column .spaces-lft-full {
  margin-left: 4rem;
}
.spaces-lft-nrml,
div.column .spaces-lft-nrml {
  margin-left: 2rem;
}
.spaces-lft-half,
div.column .spaces-lft-half {
  margin-left: 1rem;
}
.spaces-lft-qrtr,
div.column .spaces-lft-qrtr {
  margin-left: 0.5rem;
}
.spaces-lft-none,
div.column .spaces-lft-none {
  margin-left: 0rem !important;
}
.pads-top-nrml,
div.column .pads-top-nrml {
  padding-top: 2rem;
}
.pads-top-half,
div.column .pads-top-half {
  padding-top: 1rem;
}
.pads-rgt-nrml,
div.column .pads-rgt-nrml {
  padding-right: 2rem;
}
.pads-rgt-half,
div.column .pads-rgt-half {
  padding-right: 1rem;
}
.pads-btm-nrml,
div.column .pads-btm-nrml {
  padding-bottom: 2rem;
}
.pads-btm-half,
div.column .pads-btm-half {
  padding-bottom: 1rem;
}
.pads-lft-nrml,
div.column .pads-lft-nrml {
  padding-right: 2rem;
}
.pads-lft-half,
div.column .pads-lft-half {
  padding-right: 1rem;
}
.indent-1x,
div.column .indent-1x {
  padding-left: 2rem;
}
.indent-rgt-1x,
div.column .indent-rgt-1x {
  padding-right: 2rem;
}
.indent-2x,
div.column .indent-2x {
  padding-left: 4rem;
}
.indent-rgt-2x,
div.column .indent-rgt-2x {
  padding-right: 4rem;
}
.indent-3x,
div.column .indent-3x {
  padding-left: 6rem;
}
.indent-rgt-3x,
div.column .indent-rgt-3x {
  padding-right: 6rem;
}
.indent-4x,
div.column .indent-4x {
  padding-left: 8rem;
}
.indent-rgt-4x,
div.column .indent-rgt-4x {
  padding-right: 8rem;
}
.breaks-words,
div.column .breaks-words {
  word-wrap: break-word;
}
.centered,
div.column .centered,
.centers-text,
div.column .centers-text {
  text-align: center;
}
.soft-gray-border,
div.column .soft-gray-border {
  border: 1px solid rgba(42, 48, 51, 0.5);
}
.has-pull-quote-bordering:not(.alt) {
  position: relative;
  padding-top: 0.33333333rem !important;
  padding-bottom: 0.33333333rem !important;
}
.has-pull-quote-bordering:not(.alt):first-child {
  margin-top: 0.33333333rem;
}
.has-pull-quote-bordering:not(.alt):not(:first-child) {
  margin-top: 2rem;
}
.has-pull-quote-bordering:not(.alt):before,
.has-pull-quote-bordering:not(.alt):after {
  content: "";
  position: absolute;
  left: 0;
  width: 67%;
}
.has-pull-quote-bordering:not(.alt):before {
  top: -0.33333333rem;
  height: 5px;
  border-top: 5px solid #464e54;
}
.has-pull-quote-bordering:not(.alt):after {
  bottom: -0.33333333rem;
  height: 1px;
  width: 33%;
  border-top: 1px solid rgba(70, 78, 84, 0.75757576);
}
.has-pull-quote-bordering.alt {
  position: relative;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  border-right: 1px solid rgba(70, 78, 84, 0.18939394);
  border-left: 5px solid #464e54;
}
.has-pull-quote-bordering.alt:before,
.has-pull-quote-bordering.alt:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}
.has-pull-quote-bordering.alt:before {
  right: 1px;
  background-color: rgba(70, 78, 84, 0.37878788);
}
.has-pull-quote-bordering.alt:after {
  right: 3px;
  background-color: rgba(70, 78, 84, 0.75757576);
}
.fade-in-from-top {
  -webkit-animation: anim-fade-in-from-top 1s linear 1;
  -moz-animation: anim-fade-in-from-top 1s linear 1;
  animation: anim-fade-in-from-top 1s linear 1;
}
@-webkit-keyframes anim-fade-in-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes anim-fade-in-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@keyframes anim-fade-in-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
.fade-in-from-left {
  -webkit-animation: anim-fade-in-from-left 1s linear 1;
  -moz-animation: anim-fade-in-from-left 1s linear 1;
  animation: anim-fade-in-from-left 1s linear 1;
}
@-webkit-keyframes anim-fade-in-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes anim-fade-in-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@keyframes anim-fade-in-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
.fade-in-from-right {
  -webkit-animation: anim-fade-in-from-right 1s linear 1;
  -moz-animation: anim-fade-in-from-right 1s linear 1;
  animation: anim-fade-in-from-right 1s linear 1;
}
@-webkit-keyframes anim-fade-in-from-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
}
@-moz-keyframes anim-fade-in-from-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
}
@keyframes anim-fade-in-from-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
}
@-webkit-keyframes animGlowingHighlight {
  0% {
    background-color: rgba(141, 203, 241, 0.75);
    border-color: #8dcbf1;
  }
  100% {
    background-color: rgba(141, 203, 241, 0.25);
    border-color: rgba(141, 203, 241, 0.5);
  }
}
@keyframes animGlowingHighlight {
  0% {
    background-color: rgba(141, 203, 241, 0.75);
    border-color: #8dcbf1;
  }
  100% {
    background-color: rgba(141, 203, 241, 0.25);
    border-color: rgba(141, 203, 241, 0.5);
  }
}
/**--------------------------------------------------------
 * Legacy code written by predacessors on CR marketing team
 */
body {
  font-size: 16px;
}
.entry-footer {
  display: none;
}
.site-content .post-navigation {
  display: none;
}
h1,
h1.crimson {
  color: #981e32;
  Font-size: 28.74pt;
  font-weight: bold;
}
h2,
h2.gray {
  color: #5e6a71;
  Font-size: 26.58pt;
  font-weight: bold;
}
h3,
h3.crimson {
  color: #981e32;
  Font-size: 21.56pt;
  font-weight: bold;
}
h4,
h4.gray {
  color: #5e6a71;
  Font-size: 19.94pt;
  font-weight: bold;
}
h5,
h5.crimson {
  color: #981e32;
  Font-size: 16.17pt;
  font-weight: bold;
}
h6,
h6.gray {
  color: #5e6a71;
  Font-size: 14.95pt;
  font-weight: bold;
}
h1.gray,
h3.gray,
h5.gray {
  color: #5e6a71;
}
h2.crimson,
h4.crimson,
h6.crimson {
  color: #981e32;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
cite.article-author {
  display: none;
}
/**------------------------
 * Authored by Daniel Rieck
 */
.builder-section-banner .cycle-prev,
.builder-section-banner .cycle-next {
  top: auto;
  bottom: 0;
  height: auto;
}
.builder-section-banner .cycle-prev:before,
.builder-section-banner .cycle-next:before {
  line-height: 2rem;
}
.builder-section-banner .cycle-prev:before {
  left: auto;
}
.builder-section-banner .cycle-next:before {
  right: auto;
}
div.iframe-wrapper {
  position: relative;
  height: 0;
  width: 97%;
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 66.666667%;
  overflow: hidden;
  border: 1px solid #464e54;
}
div.iframe-wrapper > iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
div.column.crimson > header:first-child > h2 {
  margin-bottom: .5rem;
  color: #981e32;
}
div.column.crimson.has-background {
  padding-top: .8rem;
  background-color: rgba(192, 12, 48, 0.2);
  color: #464e54;
}
section.row:first-child h1:first-child,
section.row:first-child h2:first-child,
section.row:first-child h3:first-child,
section.row:first-child h4:first-child,
section.row:first-child h5:first-child,
section.row:first-child h6:first-child {
  padding-top: 0;
}
.column h1:first-child,
.column h2:first-child,
.column h3:first-child,
.column h4:first-child,
.column h5:first-child,
.column h6:first-child {
  padding-top: 0;
}
@media screen and (min-width: 694px) {
  div.column.crimson.has-background {
    border-radius: 10px;
  }
}
@media screen and (min-width: 694px) {
  .fluid .row.halves .column.has-background.crimson {
    width: 48%;
    width: calc(50% - 2rem);
    padding-right: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}
.centers-text {
  text-align: center;
}
main.spine-blank-template section.row.spaces-top {
  margin-top: 1rem;
}
section.row.calendar div.column h2 {
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
}
section.row.calendar div.column h3,
section.row.calendar .gform_heading h3.gform_title {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: .25rem;
  margin-bottom: .25rem;
}
section.row.calendar div.column h5 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1em;
  color: #5e6a71;
}
.h1-header + section.halves.pad-top .column {
  padding-top: 2rem;
}
strong.lead-in {
  font-family: "Roboto Condensed";
  font-size: 1.25em;
}
.spaces-top-nrml,
div.column .spaces-top-nrml {
  margin-top: 4rem;
}
.spaces-top-nrml,
div.column .spaces-top-nrml {
  margin-top: 2rem;
}
.spaces-top-half,
div.column .spaces-top-half {
  margin-top: 1rem;
}
.spaces-top-qrtr,
div.column .spaces-top-qrtr {
  margin-top: .5rem;
}
.spaces-rgt-nrml,
div.column .spaces-rgt-nrml {
  margin-right: 4rem;
}
.spaces-rgt-nrml,
div.column .spaces-rgt-nrml {
  margin-right: 2rem;
}
.spaces-rgt-half,
div.column .spaces-rgt-half {
  margin-right: 1rem;
}
.spaces-rgt-qrtr,
div.column .spaces-rgt-qrtr {
  margin-right: .5rem;
}
.spaces-btm-full,
div.column .spaces-btm-full {
  margin-bottom: 4rem;
}
.spaces-btm-nrml,
div.column .spaces-btm-nrml {
  margin-bottom: 2rem;
}
.spaces-btm-half,
div.column .spaces-btm-half {
  margin-bottom: 1rem;
}
.spaces-btm-qrtr,
div.column .spaces-btm-qrtr {
  margin-bottom: .5rem;
}
.spaces-lft-nrml,
div.column .spaces-lft-nrml {
  margin-left: 4rem;
}
.spaces-lft-nrml,
div.column .spaces-lft-nrml {
  margin-left: 2rem;
}
.spaces-lft-half,
div.column .spaces-lft-half {
  margin-left: 1rem;
}
.spaces-lft-qrtr,
div.column .spaces-lft-qrtr {
  margin-left: .5rem;
}
.pads-top-nrml,
div.column .pads-top-nrml {
  padding-top: 2rem;
}
.pads-top-half,
div.column .pads-top-half {
  padding-top: 1rem;
}
.pads-rgt-nrml,
div.column .pads-rgt-nrml {
  padding-right: 2rem;
}
.pads-rgt-half,
div.column .pads-rgt-half {
  padding-right: 1rem;
}
.pads-btm-nrml,
div.column .pads-btm-nrml {
  padding-bottom: 2rem;
}
.pads-btm-half,
div.column .pads-btm-half {
  padding-bottom: 1rem;
}
.pads-lft-nrml,
div.column .pads-lft-nrml {
  padding-right: 2rem;
}
.pads-lft-half,
div.column .pads-lft-half {
  padding-right: 1rem;
}
img.shift-to-right {
  float: right;
}
div.column aside.article-sidebar {
  float: right;
  width: 33%;
  min-width: 230px;
  padding: .8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background: #f8f1eb;
  border: 1px solid #6d441f;
  box-shadow: 1px 1px 2px rgba(109, 68, 31, 0.5);
  font-size: .8rem;
  color: #464e54;
}
div.column aside.article-sidebar:first-child + h1,
div.column aside.article-sidebar:first-child + h2,
div.column aside.article-sidebar:first-child + h3,
div.column aside.article-sidebar:first-child + h4 {
  margin-top: 0;
}
div.column aside.article-sidebar p,
div.column aside.article-sidebar ol,
div.column aside.article-sidebar ul {
  font-size: inherit;
  line-height: normal;
}
div.column aside.article-sidebar p {
  text-align: left;
}
div.column aside.article-sidebar p:not(:last-child) {
  margin-bottom: .8rem;
}
div.column aside.article-sidebar ol,
div.column aside.article-sidebar ul {
  padding-bottom: 0;
}
div.column aside.article-sidebar h2 + hr {
  margin-top: .25rem;
  background-color: rgba(70, 78, 84, 0.75);
}
div.column aside.article-sidebar h3 {
  font-size: 1.275rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
}
div.column aside.article-sidebar h3:first-child {
  margin-top: 0;
}
div.column aside.article-sidebar h4 {
  font-size: 1.05rem;
}
div.column aside.article-sidebar h4:first-child {
  margin-top: 0;
}
@media screen and (min-width: 990px) and (max-width: 1098px) {
  div.column aside.article-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    -webkit-transform-origin: 100% 0 0;
    -ms-transform-origin: 100% 0 0;
    transform-origin: 100% 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: transform 0.25s ease-out;
    -moz-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
  }
  div.column aside.article-sidebar:hover {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 520px) {
  div.column aside.article-sidebar {
    position: absolute;
    right: -2rem;
    top: 0;
    width: 230px;
    -webkit-transform-origin: 100% 0 0;
    -ms-transform-origin: 100% 0 0;
    transform-origin: 100% 0 0;
    -webkit-transform: rotate(-90deg) translateY(-2.1rem);
    -moz-transform: rotate(-90deg) translateY(-2.1rem);
    transform: rotate(-90deg) translateY(-2.1rem);
    -webkit-transition: transform 0.25s ease-out;
    -moz-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
  }
  div.column aside.article-sidebar:hover {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
div.author-info {
  display: none;
}
article > div.article-body {
  position: relative;
}
div.column article.post {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3333);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}
div.column article.post + article.post {
  margin-top: 1.5em;
}
div.article-summary aside.article-sidebar,
div.article-summary img,
div.article-summary object,
div.article-summary p.article-media-contacts,
div.article-summary > h3 {
  display: none;
}
div.article-summary img.attachment-spine-thumbnail_size {
  display: block;
}
body.blog main > section.row > div.column.two,
body.single-post main > section.row > div.column.two {
  padding: 1rem;
  background: #eff0f1;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9), 0 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9), 0 0 0 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 694px) {
  body.blog main > section.row > div.column.two,
  body.single-post main > section.row > div.column.two {
    margin-top: 2rem;
    border-radius: 4px;
  }
}
@media screen and (max-width: 1603px) {
  body.blog main > section.row > div.column.two,
  body.single-post main > section.row > div.column.two {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
div.column hr.subSection {
  width: 85%;
  height: 0;
  margin: 2rem auto;
  background: none;
  border: 0;
  border-top: 1px dashed rgba(94, 106, 113, 0.5);
  border-bottom: 1px dashed rgba(160, 160, 160, 0.25);
  text-align: center;
}
body.blog div.column .hidden-on-news-feed {
  display: none;
}
body.single-post div.column .hidden-on-news-articles {
  display: none;
}
/*  ╔════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### INPUT FORMS ##################################################################################### ║
 *  ╠========================================================================================================╣
 *  ║ Styling applied to input elements to which the gravity form classes have been applied.                 ║
 *  ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝
 */
input.read-more-state {
  display: none;
}
input.read-more-state:checked + div.read-more-target {
  margin-top: 0;
  height: auto;
  opacity: 1;
}
input.read-more-state ~ p label.read-more-trigger:before {
  content: 'Show more';
}
label.read-more-trigger {
  display: inline-block;
  position: relative;
  padding: 0 .5rem;
  background-color: rgba(255, 184, 28, 0.25);
  border: 1px solid #2a3033;
  border-radius: .25rem;
  font-size: .9rem;
  line-height: 2;
  color: #5e6a71;
  -webkit-transition: all 0.3333s ease;
  -moz-transition: all 0.3333s ease;
  transition: all 0.3333s ease;
  -webkit-animation: orange-glow 5s linear infinite;
  -moz-animation: orange-glow 5s linear infinite;
  animation: orange-glow 5s linear infinite;
  cursor: pointer;
}
@-webkit-keyframes orange-glow {
  0% {
    background-color: rgba(255, 184, 28, 0.25);
    box-shadow: 0 0 9px rgba(255, 184, 28, 0);
    color: #5e6a71;
  }
  50% {
    background-color: rgba(255, 184, 28, 0.5);
    box-shadow: 0 0 18px rgba(255, 184, 28, 0.5);
    color: #2a3033;
  }
  100% {
    background-color: rgba(255, 184, 28, 0.25);
    box-shadow: 0 0 9px rgba(255, 184, 28, 0);
  }
}
@-moz-keyframes orange-glow {
  0% {
    background-color: rgba(255, 184, 28, 0.25);
    box-shadow: 0 0 9px rgba(255, 184, 28, 0);
    color: #5e6a71;
  }
  50% {
    background-color: rgba(255, 184, 28, 0.5);
    box-shadow: 0 0 18px rgba(255, 184, 28, 0.5);
    color: #2a3033;
  }
  100% {
    background-color: rgba(255, 184, 28, 0.25);
    box-shadow: 0 0 9px rgba(255, 184, 28, 0);
  }
}
@keyframes orange-glow {
  0% {
    background-color: rgba(255, 184, 28, 0.25);
    box-shadow: 0 0 9px rgba(255, 184, 28, 0);
    color: #5e6a71;
  }
  50% {
    background-color: rgba(255, 184, 28, 0.5);
    box-shadow: 0 0 18px rgba(255, 184, 28, 0.5);
    color: #2a3033;
  }
  100% {
    background-color: rgba(255, 184, 28, 0.25);
    box-shadow: 0 0 9px rgba(255, 184, 28, 0);
  }
}
label.read-more-trigger:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 0;
  left: 2px;
  border-radius: 0.25rem;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
}
label.read-more-trigger:hover {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  background-color: #ffb81c;
  box-shadow: 0 0 18px rgba(255, 184, 28, 0.6667);
  border: 1px solid #2a3033;
  color: #2a3033;
}
div.read-more-target {
  height: 0;
  overflow: hidden;
  margin-top: .5rem;
  opacity: 0;
  transition: .333s ease;
  -webkit-transition: .333s ease;
  -moz-transition: .333s ease;
  -o-transition: .333s ease;
}
.read-more-state:checked ~ p label.read-more-trigger:before {
  content: 'Show less';
}
div.column .gform_wrapper {
  max-width: 990px;
}
div.column .gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label {
  margin: 0;
}
div.column .gform_wrapper .gsection {
  margin-top: 2rem;
  margin-bottom: 0;
}
div.column .gform_wrapper .gfield_checkbox li label,
div.column .gform_wrapper .gfield_radio li label {
  font-weight: normal;
}
div.column .gform_wrapper .gfield_checkbox li {
  margin-bottom: 0;
}
div.column .gform_wrapper .ginput_complex span.ginput_full:not(:first-of-type) label,
div.column .gform_wrapper .ginput_complex span.ginput_left:not(:first-of-type) label,
div.column .gform_wrapper .ginput_complex span.ginput_right:not(:nth-of-type(2)) label {
  margin-top: 0.4em;
}
div.column .gform_wrapper label.gfield_label {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125em;
}
div.column .gform_wrapper ul:last-child {
  padding-bottom: 0;
}
div.column .gform_wrapper .gform_body > ul > li.has-top-border:not(.gsection):not(.gfield_html) + li:not(.gsection)::before,
div.column .gform_wrapper .gform_body > ul > li.has-top-spacer:not(.gsection):not(.gfield_html) + li:not(.gsection)::before {
  content: "";
  display: block;
  width: 95%;
  height: 0;
  margin: 2rem auto 0;
}
div.column .gform_wrapper .gform_body > ul > li.has-top-border:not(.gsection):not(.gfield_html) + li:not(.gsection)::before {
  border-top: 1px dashed rgba(94, 106, 113, 0.3333);
  border-bottom: 1px dashed rgba(160, 160, 160, 0.25);
}
div.column .gform_wrapper .gform_body > ul > li.gf-bckgrnd-field {
  display: none !important;
}
div.column .gform_wrapper #extensions_message {
  padding-left: 1rem;
}
div.column .gform_wrapper h2.fancy {
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (min-width: 641px) {
  div.column .gform_wrapper.gf_browser_chrome .gform_body {
    width: calc(100% + 15px);
  }
}
@media only screen and (max-width: 640px) {
  div.column .gform_wrapper.gf_browser_chrome .gform_body {
    width: 100%;
  }
}
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-menubar {
  display: none;
}
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Blockquote"],
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Insert/edit link"],
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Remove link"],
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Insert/edit image"],
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Table"],
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Toolbar Toggle"],
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-first div.mce-btn[aria-label="Fullscreen"] {
  display: none;
}
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-toolbar-grp > div.mce-stack-layout > div.mce-toolbar.mce-last {
  display: none;
}
div.column li.gfield.uses-rich-editor div.tmce-active div.mce-statusbar {
  display: none;
}
div.column li.gfield.uses-rich-editor iframe {
  width: 100% !important;
}
div.column li.gfield.uses-rich-editor span.gp-word-count-label {
  margin-top: 0 !important;
}
@media only screen and (min-width: 641px) {
  div.column li.gfield.gf_left_half.expands-to-two-thirds {
    width: 67% !important;
  }
}
@media only screen and (min-width: 641px) {
  div.column li.gfield.gf_left_half.expands-to-two-thirds + li.gfield.gf_right_half {
    width: 33% !important;
  }
}
@media only screen and (min-width: 641px) {
  div.column li.gfield.has-label-spacer > div.ginput_container {
    margin-top: 21px;
  }
}
@media only screen and (min-width: 792px) {
  div.column li.gfield.has-label-spacer > div.ginput_container {
    margin-top: 23px;
  }
}
@media only screen and (min-width: 990px) {
  div.column li.gfield.has-label-spacer > div.ginput_container {
    margin-top: 21px;
  }
}
@media only screen and (min-width: 1073px) {
  div.column li.gfield.has-label-spacer > div.ginput_container {
    margin-top: 23px;
  }
}
div.column li.gfield > div.ginput_complex > span > label {
  color: #8e7f88;
}
div.column li.gfield > div.ginput_container_select > div.chosen-container {
  width: 100% !important;
}
div.column li.gfield > div.ginput_container_select > div.chosen-container-single > a.chosen-single {
  height: 1.98em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.038) 50%, rgba(0, 0, 0, 0.07) 52%, rgba(0, 0, 0, 0.045) 100%), linear-gradient(to bottom, #fff, #fff);
  line-height: 1.98em;
}
div.column li.gfield > div.ginput_container_select > div.chosen-container-single > a.chosen-single:hover {
  text-shadow: none;
}
div.column li.gfield > div.ginput_container_select > div.chosen-container-single > a.chosen-single > div > b {
  background-position: 0 calc(-10px + 1.98em / 2);
}
@media only screen and (max-width: 641px) {
  div.column li.gfield > div.ginput_container_select > div.chosen-container-single > a.chosen-single > div > b {
    top: calc(0.99em - 3px);
    background-position: 0 -7px;
  }
}
div.column li.gfield > div.ginput_container_select > div.chosen-container-single.chosen-with-drop > a.chosen-single {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 20%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, #fff, #fff);
}
div.column li.gfield div.ginput_container_textarea > textarea {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
div.column ul.gform_fields.top_label > li.gfield.gfield_error.gf_left_half,
div.column ul.gform_fields.top_label > li.gfield.gfield_error.gf_right_half {
  width: calc(50% - 16px);
}
div.column ul.gform_fields.top_label > li.gfield.gf_left_half ul.gfield_radio,
div.column ul.gform_fields.top_label > li.gfield.gf_right_half ul.gfield_radio,
div.column ul.gform_fields.top_label > li.gfield.gf_left_half ul.gfield_checkbox,
div.column ul.gform_fields.top_label > li.gfield.gf_right_half ul.gfield_checkbox {
  width: 100%;
}
div.column ul.gform_fields.top_label > li.gfield > div.gfield_description {
  padding: 0;
  margin: 0;
  color: #8e7f88;
}
div.column ul.gform_fields.top_label > li.gfield > div.ginput_complex {
  margin-top: 0;
}
div.column ul.gform_fields.top_label > li.gfield + li.gfield:not(.gsection),
div.column ul.gform_fields.top_label li.gfield:first-child {
  margin-top: 0.5rem;
  margin-top: .5rem;
}
div.column ul.gform_fields > li.gfield.gfield_contains_required input,
div.column ul.gform_fields > li.gfield.gfield_contains_required select,
div.column ul.gform_fields > li.gfield.gfield_contains_required textarea {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
div.column ul.gform_fields > li.gfield.gfield_contains_required input:focus,
div.column ul.gform_fields > li.gfield.gfield_contains_required select:focus,
div.column ul.gform_fields > li.gfield.gfield_contains_required textarea:focus {
  background-color: #edf3f4 !important;
}
div.column ul.gform_fields > li.gfield.gfield_contains_required input:not(.gf-value-entered):not(:focus),
div.column ul.gform_fields > li.gfield.gfield_contains_required select:not(.gf-value-entered):not(:focus),
div.column ul.gform_fields > li.gfield.gfield_contains_required textarea:not(.gf-value-entered):not(:focus) {
  background-color: rgba(255, 0, 0, 0.1);
}
div.column ul.gform_fields > li.gfield.gfield_contains_required ul.gfield_checkbox,
div.column ul.gform_fields > li.gfield.gfield_contains_required ul.gfield_radio {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
div.column ul.gform_fields > li.gfield.gfield_contains_required ul.gfield_checkbox:not(.gf-value-entered),
div.column ul.gform_fields > li.gfield.gfield_contains_required ul.gfield_radio:not(.gf-value-entered) {
  background-color: rgba(255, 0, 0, 0.1);
}
div.column ul.gform_fields > li.gfield.gfield_contains_required span.address_line_2 input {
  background-color: #fff !important;
}
div.column ul.gform_fields > li.gfield.gfield_contains_required span.address_line_2 input:focus {
  background-color: #edf3f4 !important;
}
.oue-gf-rqrd-input input,
.oue-gf-rqrd-select input,
.oue-gf-hghlghts-rqrd-input input,
.oue-gf-hghlghts-rqrd-select input,
.oue-gf-rqrd-input select,
.oue-gf-rqrd-select select,
.oue-gf-hghlghts-rqrd-input select,
.oue-gf-hghlghts-rqrd-select select {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.oue-gf-rqrd-input input:focus,
.oue-gf-rqrd-select input:focus,
.oue-gf-hghlghts-rqrd-input input:focus,
.oue-gf-hghlghts-rqrd-select input:focus,
.oue-gf-rqrd-input select:focus,
.oue-gf-rqrd-select select:focus,
.oue-gf-hghlghts-rqrd-input select:focus,
.oue-gf-hghlghts-rqrd-select select:focus {
  background-color: #edf3f4 !important;
}
.oue-gf-rqrd-input.gfield_contains_required input:not(.gf-value-entered):not(:focus),
.oue-gf-rqrd-select.gfield_contains_required input:not(.gf-value-entered):not(:focus),
.oue-gf-hghlghts-rqrd-input.gfield_contains_required input:not(.gf-value-entered):not(:focus),
.oue-gf-hghlghts-rqrd-select.gfield_contains_required input:not(.gf-value-entered):not(:focus),
.oue-gf-rqrd-input.gfield_contains_required select:not(.gf-value-entered):not(:focus),
.oue-gf-rqrd-select.gfield_contains_required select:not(.gf-value-entered):not(:focus),
.oue-gf-hghlghts-rqrd-input.gfield_contains_required select:not(.gf-value-entered):not(:focus),
.oue-gf-hghlghts-rqrd-select.gfield_contains_required select:not(.gf-value-entered):not(:focus) {
  background-color: rgba(255, 0, 0, 0.1);
}
.oue-gf-rqrd-checkbox.gfield_contains_required ul.gfield_checkbox,
.oue-gf-hghlghts-rqrd-checkbox.gfield_contains_required ul.gfield_checkbox,
.oue-gf-rqrd-checkbox.gfield_contains_required ul.gfield_radio,
.oue-gf-hghlghts-rqrd-checkbox.gfield_contains_required ul.gfield_radio {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.oue-gf-rqrd-checkbox.gfield_contains_required ul.gfield_checkbox:not(.gf-value-entered),
.oue-gf-hghlghts-rqrd-checkbox.gfield_contains_required ul.gfield_checkbox:not(.gf-value-entered),
.oue-gf-rqrd-checkbox.gfield_contains_required ul.gfield_radio:not(.gf-value-entered),
.oue-gf-hghlghts-rqrd-checkbox.gfield_contains_required ul.gfield_radio:not(.gf-value-entered) {
  background-color: rgba(255, 0, 0, 0.1);
}
.oue-gf-rqrd-txtarea textarea,
.oue-gf-hghlghts-rqrd-txtarea textarea {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.oue-gf-rqrd-txtarea textarea:focus,
.oue-gf-hghlghts-rqrd-txtarea textarea:focus {
  background-color: #edf3f4;
}
.oue-gf-rqrd-txtarea.gfield_contains_required textarea:not(.gf-value-entered):not(:focus),
.oue-gf-hghlghts-rqrd-txtarea.gfield_contains_required textarea:not(.gf-value-entered):not(:focus) {
  background-color: rgba(255, 0, 0, 0.1);
}
.oue-gf-actvtr-checkbox {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.oue-gf-actvtr-checkbox.gf-activated {
  display: none !important;
}
.oue-gf-actvtr-chain {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.oue-gf-actvtr-chain.gf-hidden {
  display: none !important;
}
.oue-gf-upload-chain input {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.oue-gf-upload-chain input:focus {
  background-color: #edf3f4;
}
.oue-gf-upload-chain.gfield_contains_required input:not(.gf-value-entered):not(:focus) {
  background-color: rgba(255, 0, 0, 0.1);
}
.oue-gf-upload-chain.gf-hidden {
  display: none !important;
}
.oue-gf-revealed {
  -webkit-animation: gf-fades-in 0.5s linear 1;
  -moz-animation: gf-fades-in 0.5s linear 1;
  animation: gf-fades-in 0.5s linear 1;
}
@-webkit-keyframes gf-fades-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes gf-fades-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gf-fades-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
