/**--------------------------------------------------------
 * Legacy code written by predacessors on CR marketing team
 */
body {
	font-size: 16px;
}

.entry-footer {
	display: none;
}

.site-content .post-navigation {
	display: none;
}

h1,
h1.crimson {
	color: #981e32;
	Font-size: 28.74pt;
	font-weight: bold;
}

h2,
h2.gray {
	color: #5e6a71;
	Font-size: 26.58pt;
	font-weight: bold;
}

h3,
h3.crimson {
	color: #981e32;
	Font-size: 21.56pt;
	font-weight: bold;
}

h4,
h4.gray {
	color: #5e6a71;
	Font-size: 19.94pt;
	font-weight: bold;
}

h5,
h5.crimson {
	color: #981e32;
	Font-size: 16.17pt;
	font-weight: bold;
}

h6,
h6.gray {
	color: #5e6a71;
	Font-size: 14.95pt;
	font-weight: bold;
}

h1.gray,
h3.gray,
h5.gray {
	color: #5e6a71;
}

h2.crimson,
h4.crimson,
h6.crimson {
	color: #981e32;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

cite.article-author {
	display: none;
}
